/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/
.transparent-box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 650px; /* Adjust width as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box-logo {
  width: 200px; /* Adjust size as needed */
  margin-bottom: 10px;
}

.box-title {
  font-size: 2 rem;
  margin-bottom: 15px;
  color: #333;
}

.box-button {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.box-button:hover {
  background-color: #0056b3;
}

.custom-box {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 0px 4px black, 0px 0px 4px black; /* Box shadow */
  padding: 20px; /* Padding inside the box */
}

.countdown-heading {
  font-size: 1.8rem; /* Adjust font size for the heading */
  margin-bottom: 15px;
  color: #333;
}

.countdown-timer {
  font-size: 1.5rem; /* Adjust font size for the countdown timer */
  font-weight: bold;
  color: darkblue;
  margin-top: 10px;
}

#paper-submission {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 4px black, 0px 0px 4px black;
}

#paper-submission h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #333;
}

#paper-submission p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;
}

#paper-submission .btn {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}


:root {
  /* widths for rows and containers
     */
  --header-height: 160px;
  --header-height-min: 80px;
}

/* on mobile devices below 600px
 */
@media screen and (max-width: 600px) {
  :root {
    --header-height: 100px;
    --header-height-min: 80px;
  }
}

/* Theme Colors */
:root {
  --accent-color: blue;
  --dark-color: #0a1622;
  --light-dark-color: #727272;
  --light-color: #fff;
  --grey-color: #908F8D;
  --light-grey-color: #f5f5f5;
  --primary-color: #6995B1;
  --light-primary-color: #eef1f3;
}

/* Fonts */
:root {
  --body-font: 'Jost', sans-serif;
  --heading-font: 'Jost', sans-serif;
  --secondary-font: 'Roboto Slab', serif;
}


body {

  --bs-link-color: #333;
  --bs-link-hover-color: #333;

  --bs-link-color-rgb: 40, 40, 40;
  --bs-link-hover-color-rgb: 0, 0, 0;

  --bs-light-rgb: 248, 248, 248;

  --bs-font-sans-serif: 'Jost', sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.3rem;
  --bs-body-color: #0a1622;

  --bs-primary: blue;
  --bs-primary-rgb: 241, 189, 95;

  --bs-primary-bg-subtle: #FFF9EB;
  --bs-border-color: #F7F7F7;

  --bs-secondary-rgb: 230, 243, 251;

  --bs-success-rgb: 238, 245, 228;
  --bs-danger-rgb: 249, 235, 231;
  --bs-warning-rgb: 255, 249, 235;
  --bs-info-rgb: 230, 243, 250;
}

.btn {
  --bs-btn-font-family: var(--heading-font);
}

.btn-getstarted {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-in;
  background-color: #0a1622;
  color: #fff;
}

.btn-primary {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-in;
  --bs-btn-color: #0a1622;
  --bs-btn-bg: blue;
  --bs-btn-border-color: blue;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #0a1622;
  --bs-btn-hover-border-color: #0a1622;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #0a1622;
  --bs-btn-active-bg: blue;
  --bs-btn-active-border-color: blue;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0a1622;
  --bs-btn-disabled-bg: #d3d7dd;
  --bs-btn-disabled-border-color: blue;
}

.btn-outline-primary {
  transition: all 0.3s ease-in;
  padding: 1.2rem 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02375rem;
  --bs-btn-color: #0a1622;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: blue;
  --bs-btn-hover-color: #0a1622;
  --bs-btn-hover-bg: blue;
  --bs-btn-hover-border-color: blue;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #0a1622;
  --bs-btn-active-bg: blue;
  --bs-btn-active-border-color: blue;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0a1622;
  --bs-btn-disabled-bg: #d3d7dd;
  --bs-btn-disabled-border-color: blue;
  --bs-gradient: none;
}

.btn-dark {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.06rem;
  padding: 1.2rem 3rem;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
  --bs-btn-color: #fff;
  --bs-btn-bg: #000;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #212529;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000;
  --bs-btn-disabled-border-color: #000;
}

.btn-outline-dark {
  line-height: 0.75rem;
  letter-spacing: 0.09375rem;
  text-transform: capitalize;
  transition: all 0.3s ease-in;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #000;
  transition: all 0.5s ease-in;
  --bs-btn-color: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #212529;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #212529;
  --bs-btn-active-border-color: #212529;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #212529;
  --bs-gradient: none;
}


@media screen and (max-width:991px) {

  .btn-primary,
  .btn-outline-primary,
  .btn-outline-dark,
  .btn-dark {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
  }
}

body {
  letter-spacing: 0.01625rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--bs-body-color);
  font-weight: 600;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.breadcrumb.text-white {
  --bs-breadcrumb-divider-color: #fff;
  --bs-breadcrumb-item-active-color: var(--bs-primary);
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--bs-primary);
}

.secondary-font {
  font-family: var(--secondary-font);
  font-style: italic;
  font-weight: 400;
}

.padding-large {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.padding-medium {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.padding-medium-2 {
  padding-top: 11rem;
  padding-bottom: 8rem;
}

@media only screen and (max-width: 768px) {
  .padding-large {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  .padding-medium {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .padding-medium-2 {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }
}

/* arrow hover effect */
.btn-wrap:hover i.icon.icon-arrow-io {
  transform: translate3d(5px, 0px, 0px) rotate(-180deg);
}

.btn-wrap i.icon.icon-arrow-io {
  display: inline-block;
  transform: rotate(-180deg);
  transition: transform 0.3s ease-out 0s;
}


/----------------------------------------------/
/* 6. SITE STRUCTURE */
/----------------------------------------------/
/* 6.1 Header
--------------------------------------------------------------*/
/* Preloader */
.preloader-wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111;
  background: #fff;
}

.preloader-wrapper .preloader {
  margin: 20% auto 0;
  transform: translateZ(0);
}

.preloader:before,
.preloader:after {
  content: '';
  position: absolute;
  top: 0;
}

.preloader:before,
.preloader:after,
.preloader {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: animation 1.2s infinite ease-in-out;
}

.preloader {
  animation-delay: -0.16s;
}

.preloader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.preloader:after {
  left: 3.5em;
}

@keyframes animation {

  0%,
  80%,
  100% {
    box-shadow: 0 2em 0 -1em var(--accent-color);
  }

  40% {
    box-shadow: 0 2em 0 0 var(--accent-color);
  }
}



/* offcanvas cross button style  */
.btn-close:focus {
  box-shadow: none;
}



/* nav bar style  */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link:hover {
  color: var(--accent-color);
}

.navbar {
  position: fixed;
  top: 0;
  flex-direction: column;
  left: 0;
  width: 100%; /* Make sure it spans the full width */
  background-color: #ffffff; /* White background */
  z-index: 1050; /* Keep it above all other content */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
  border-bottom: 1px solid #eaeaea; /* Optional: Add a subtle border */
}

.nav-link {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* dropdown style */
.dropdown-item {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.5rem 1rem;

}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--bs-body-color);
}


/* modal style */
.modal-backdrop {
  --bs-backdrop-zindex: 1;
}


/* billboard style  */
.form-control {
  font-size: 1rem;
  color: var(--grey-color);
  line-height: normal;
  letter-spacing: 0.02125rem;
  text-transform: capitalize;
  border-radius: 0.25rem;
  border: 1px solid #e8e8e8;
  background: var(--light-grey-color);
  display: flex;
  padding: 0.8rem 1rem;
  align-items: center;
  gap: 0.375rem;
  align-self: stretch;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--light-grey-color);
  border-color: #e8e8e8;
  outline: 0;
  box-shadow: none;
}



/----- Services Section Style -------------------------/
.services-element {
  cursor: pointer;
  background: var(--light-grey-color);
  transition: all 0.2s ease-out;
}

.services-element:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.12);
}



/----- topselling Section Style -------------------------/
button.filter-button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.02375rem;
  border: none;
  color: #555555;
  background: var(--light-grey-color);
  text-transform: capitalize;
  transition: all 0.3s ease-in;
}

button.filter-button.active,
button.filter-button:hover {
  color: var(--bs-body-color);
  background: var(--accent-color);
}

.card {
  border: none;
}


/* blog section style */

/* -Zoom Effect
------------------------------------------*/
.zoom-effect {
  position: relative;
  overflow: hidden;
}

.zoom-effect img {
  max-width: 100%;
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.zoom-effect:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.zoom-effect:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  opacity: 0;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.zoom-effect:hover:before {
  opacity: 1;
  cursor: pointer;
}


/* testimonial section style */
.swiper-pagination {
  position: unset;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--accent-color);
  background: var(--accent-color);
}


/* footer section style */
a.footer-link:hover {
  color: var(--accent-color);
}

iconify-icon.social-icon {
  color: var(--grey-color);
}

iconify-icon.social-icon:hover {
  color: var(--accent-color);
}


@media screen and (max-width: 991px) {

  /* offcanvas menu */
  .offcanvas-body .nav-item {
    font-weight: 700;
    border-bottom: 1px solid #d1d1d1;
  }

  /* dropdown-menu */
  .dropdown-menu {
    padding: 0;
    border: none;
    line-height: 1.4;
    font-size: 0.9em;
  }

}


/*--------------------------------------------------------------
faqs page style start
--------------------------------------------------------------*/
.accordion-button:not(.collapsed) {
  color: var(--body-text-color);
  background-color: transparent;
  box-shadow: none;
}

.accordion {
  --bs-accordion-color: var(--light-text-color);
  --bs-accordion-bg: none;
  --bs-accordion-btn-color: var(--body-text-color);
}

.accordion-button:not(.collapsed)::after {
  background-image: url('https://api.iconify.design/eva/arrow-down-fill.svg?color=%2341403e');

}

.accordion-button::after {
  background-image: url('https://api.iconify.design/eva/arrow-down-fill.svg?color=%2341403e');
}

.accordion-button:focus {
  z-index: 3;
  border-color: none;
  box-shadow: none;
}



/*--------------------------------------------------------------
Blog page style start
--------------------------------------------------------------*/
/* blog style */

.blog-paragraph {
  color: var(--grey-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  font-family: var(--secondary-font);
}

.blog-read {
  color: var(--grey-color);
  font-size: 1rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}

a.blog-read {
  border-bottom: 1px solid #D9D9D8;
  transition: all 0.3s ease-in;
}

a.blog-read:hover {
  border-bottom: 1px solid #8a8a8a;
}

/* ------ Pagination ------*/
.pagination .page-numbers {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  color: var(--bs-body-color);
  padding: 0 10px;
  line-height: 1.4;
  transition: 0.9s all;
  border-radius: 8px;
}

.pagination .page-numbers:hover,
.pagination .page-numbers.current {
  color: var(--accent-color);
}

iconify-icon.pagination-arrow {
  color: var(--bs-body-color);
  transition: 0.9s all;
}

iconify-icon.pagination-arrow:hover {
  color: var(--accent-color);
}



/*--------------------------------------------------------------
Single Product page style start
--------------------------------------------------------------*/
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: var(--bs-body-color);
  background-color: var(--accent-color);
}

/* product-thumbnail-slider */
.product-thumbnail-slider {
  height: 640px;
}


/*--------------------------------------------------------------
Checkout page style start
--------------------------------------------------------------*/
.form-check-input {
  border: 1px solid var(--accent-color);
}

.form-check-input:checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.form-check-input:focus {
  border-color: var(--accent-color);
  box-shadow: none;
}



/*--------------------------------------------------------------
Account page style start
--------------------------------------------------------------*/
.nav-tabs .nav-item.show .nav-link.account-tab,
.nav-tabs .nav-link.account-tab {
  color: var(--bs-body-color);
}

.nav-tabs .nav-item.show .nav-link.account-tab,
.nav-tabs .nav-link.account-tab.active {
  color: var(--accent-color);
}



/*--------------------------------------------------------------
Styles page style start
--------------------------------------------------------------*/
.chocolat-wrapper {
  z-index: 9999;
}


/* Instructors page style
------------------------------------------------------------- */
.team-member ul.social-links {
  top: 0;
}

.team-member ul li {
  padding: 5px;
  transform: rotatey(-90deg) perspective(100px);
  transform-origin: left;
  cursor: pointer;
  transition: .5s ease-in-out;
  background-color: var(--accent-color);
}

.team-member ul li:first-of-type {
  transition-delay: .3s;
}

.team-member ul li:nth-of-type(2) {
  transition-delay: 0.6s;
}

.team-member ul li:nth-of-type(3) {
  transition-delay: 0.9s;
}

.team-member ul li:last-of-type {
  transition-delay: 1.3s;
}

.team-member:hover ul li {
  transform: rotatey(0deg);
}


/*--------------------------------------------------------------
  Price Plan page style
  --------------------------------------------------------------*/
.plan-post {
  border: 1px solid var(--accent-color);

}

span.price-tick {
  color: var(--accent-color);
}

.price-option {
  height: 316px;
}

.recommend-price {
  background: var(--accent-color);
}


/*--------------------------------------------------------------
  Shop Plan page style
  --------------------------------------------------------------*/
.product-qty {
  width: 25%;
}

@media screen and (max-width: 800px) {
  .product-qty {
    width: 50%;
  }
}

.product-store .product-item {
  position: relative;
}

.product-item .cart-concern {
  background: var(--light-color);
  width: 80%;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 180px;
  z-index: 9;
  transition: 0.5s ease-out;
  padding: 20px 30px;
  opacity: 0;
}

.product-item:hover .cart-concern {
  bottom: 150px;
  opacity: 1;
}

.cart-concern .cart-button button {
  background: none;
  color: var(--dark-color);
  height: auto;
  padding: 0;
  margin: 0;
}

.cart-concern .cart-button button i.icon {
  font-size: 15px;
}

.product-item .wishlist-btn i.icon.icon-heart {
  font-size: 20px;
}

.product-item .item-price {
  font-size: 1.8em;
}



/* - course detail Page style
--------------------------------------------------------------*/

/---- video section style start ----/
/* color box style */
div#cboxOverlay {
  opacity: 0.8 !important;
}

.video .video-player {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

iconify-icon.video-icon {
  font-size: 35px;
  color: var(--bs-light);
  border-radius: 6.25rem;
  background: rgba(255, 255, 255, 0.35);
  transition: all 0.4s ease-in-out;
}

iconify-icon.video-icon:hover {
  font-size: 45px;
}

.nav-tabs .nav-item {
  transition: all 0.1s ease-in;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: transparent;
  border-color: transparent;
  border-bottom: 2px solid var(--accent-color);
  transition: all 0.1s ease-in;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  isolation: isolate;
  border-color: transparent;
  border-bottom: 2px solid var(--accent-color);
  transition: all 0.1s ease-in;
}

.reviews-components {
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
}

a.course:hover {
  transition: all 0.3s ease-in;
}

a.course:hover {
  color: var(--accent-color);
}


/---- video section style start ----/

/* color box style */
div#cboxOverlay {
  opacity: 0.8 !important;
}

.video .video-player {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

iconify-icon.video-icon {
  font-size: 35px;
  color: var(--bs-light);
  border-radius: 6.25rem;
  background: rgba(255, 255, 255, 0.35);
  transition: all 0.4s ease-in-out;
}

iconify-icon.video-icon:hover {
  font-size: 45px;
}

/* Main Content */
.support-container {
  max-width: 800px;
  margin: 30px auto;
  margin-top: 130px;
  padding: 20px;
}

.support-option {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.option-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-header h2 {
  font-size: 18px;
  color: #007bff;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #007bff;
  transition: transform 0.3s ease;
}

.toggle-btn:focus {
  outline: none;
}

/* Answer Styling */
.option-answer {
  font-size: 16px;
  color: #555;
  display: none; /* Hidden by default */
  margin-top: 10px;
  padding-left: 10px;
}

/* Button Hover Animation */
.toggle-btn:hover {
  color: #0056b3;
  transform: rotate(90deg); /* Rotate the button */
}